.p1{
    font-size: 16px;
    font-weight: bold;
    text-align: justify;
    
}

.p2{
    text-indent: 32px;
    font-size: 16px;
    text-transform: capitalize;
}

span{
    color: hsl(0, 100%, 50%);
    text-decoration: underline;
    letter-spacing: 20px;
    word-spacing: 20px;


}

h1{
    color: #0000ff;
    text-shadow: 16px 16px 19px black;
}
p:first-letter{
    color: brown;
    font-size: 100px;
}

.p3::first-line{
    background-color: aquamarine;
}

button{
    margin: 0px;
    padding 0px;
}
button:hover{
    font-size: 32px;
    color: red;
}

a:active{
    text-decoration: overline;
}

input:focus{
    background-color: blueviolet;
}

a:link{
    color: chartreuse;
}